body {
  display: flex;
  justify-content: center;
  background-color: #eee;
}

.card-container {
  display: flex;
  align-self: center;
  gap: 1rem;
}

.card {
  width: 300px;
  height: 490px;
  transition: transform 0.7s;
  transform-style: preserve-3d;
}

.card.flipped {
  transform: rotateY(180deg);
}

.ce-front,
.ce-back,
.fs-front,
.fs-back,
.ai-back,
.ai-front {
  position: absolute;
  border: 1px solid black;
  border-radius: 1.3rem;
  width: 300px;
  height: 490px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.ce-back,
.fs-back,
.ai-back {
 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /*transform: rotateY(180deg);*/
}

.ce-back {
  background-image: url("images/ce-back.png");
}

.fs-back {
  background-image: url("images/fs-back.png");
}

.ai-back {
  background-image: url("images/ai-back.png");
}

.ce-front,
.fs-front,
.ai-front {
  transform: rotateY(180deg);
  background-image: url("images/front-template.png");
  background-size: cover;
  background-color:#bebcc1;
  background-repeat: no-repeat;
  background-position: center;
}

div > p {
  text-align: center;
  font-size: 1.7rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 1rem;
}

.card-info {
  margin-top: 1rem;
}

.read-more {
  position: absolute;
  bottom: 30px;
  right: 25px
}

/* .ce-front {
  background-image: url("images/ce-front.png");
}

.fs-front {
  background-image: url("images/fs-front.png");
}
 */
